.homepage {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 90vh;
}

.bg-image {
  position: absolute;
  height: 100%;
  object-fit: fill;
  z-index: 0;
  pointer-events: none;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  z-index: 1;
  padding: 2rem;
  text-align: left;
}

.text-content h2 {
  font-size: 2rem;
  margin: 10px 0;
}
.text-content h1 {
  font-size: 2rem;
  margin: 10px 0;
  letter-spacing: -10px;
  font-weight: 800;
  line-height: 5rem;
}
.text-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.text-content button {
  background-color: #18914a;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.text-content button:hover {
  background-color: white;
  color: #18914a;
}
