.homepage {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 95vh;
  width: 100%;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  height: 100%;

  display: block;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  z-index: 1;
  padding: 2rem;
  text-align: left;
}

.text-content h2 {
  font-size: 2rem;
  margin: 10px 0;
}
.text-content h1 {
  letter-spacing: var(--font-home--title-letter-spacing);
  margin: 0;
  font-size: var(--font-home-title-size);
  line-height: var(--font-home-title-line-height);
  font-weight: 800;
  color: var(--color-text-black);
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInTitle 0.8s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: 0.2s;
}
@keyframes fadeInTitle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.text-content button {
  background-color: #18914a;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.text-content button:hover {
  background-color: white;
  color: #18914a;
}
.explore-section {
  background-color: #363434;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.plant-counter {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}

#plant-count {
  font-size: 2.2rem;
  color: #00d96e;
}

@media (max-width: 1200px) {
  .homepage {
    min-height: 85vh;
  }
}
/* Reusable dark section style */
.dark-section {
  background-color: #363434;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

/* How it works section styled like explore */
.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-it-works h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
/* Zväčši boxy v HOW IT WORKS */
.step {
  background-color: #4a4a4a;
  color: white;
  border-radius: 12px;
  padding: 2rem;
  max-width: 300px;
  min-height: 220px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step span {
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

/* Nový zelený info blok pre Explore */
.explore-section {
  background-color: #2ab96b; /* Zelený odtieň */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  height: 40vh;
}

.explore-section h2 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.explore-section p {
  font-size: 1.1rem;
  max-width: 600px;
}
